body {
  background: #292929;
  color: #E3E3E3;
}

* {
  border-color: #606368;
  transition: all 0.3s;
}

button {
  border-color: #91ff91;
  background: #91ff91;
}
button:hover {
  border-color: #59f759;
  background: #59f759;
}

main h1 {
  text-align: center;
}
main .form-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
main .form-wrapper input, main .form-wrapper select {
  width: 100%;
}
main .form-wrapper button {
  display: block;
  margin: 0 auto;
}

table {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 420px;
}