$background: #292929;
$text-color: #E3E3E3;
$border: #606368;
$active: #91ff91;
$active-hover: #59f759;

body {
  background: $background;
  color: $text-color;
}

* {
  border-color: $border;
  transition: all 0.3s;
}

button {
  border-color: $active;
  background: $active;
  &:hover {
    border-color: $active-hover;
    background: $active-hover;
  }
}

main {
  h1 {
    text-align: center;
  }

  .form-wrapper {
    width: 100%;
    margin: 0 auto;
    input, select {
      width: 100%;
    }
    button {
      display: block;
      margin: 0 auto;
    }
  }
}

table {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 360px; 
}